---
import Card from "./Card.astro";
import { ASTRO_BASE } from '../config';

const posts = await Astro.glob("../pages/ioet/*/*.{md,mdx}");
---

<div>
  {
    posts.map((post) => {
      return (
        <Card
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          path={`${ASTRO_BASE}${post.frontmatter.path}`}
          bgColor={post.frontmatter.color}
        />
      );
    })
  }
</div>
<style>
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
</style>
